<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form th:object="${newAlbum}" th:action="@{/update/{albumId}(albumId=${newAlbum.albumId})}" method='POST'> <!--  "@{/inputAlbum}" -->
		Album Name: <input name="name" size="40" th:field="*{name}"> <br />
		Artist: <input name="artist" size="10" th:field="*{artist}"><br />
		Length: <input name="length" size="6" th:field="*{length}"><br />
		Producer: <input name="producer.company" size="20" th:field="*{producer.company}"><br />  
		Headquarters: <input name="producer.headquarters" size="20" th:field="*{producer.headquarters}"><br />
		Founded:<input name="producer.yearFounded" size="4" th:field="*{producer.yearFounded}"><br /> 
		Award:<input name="award.title" size="40" th:field="*{award.title}"><br />
		Year Awarded:<input name="award.yearAwarded" size=4 th:field="*{award.yearAwarded}"><br />
		<input name="submit" type="submit" value="submit" />
	</form>
	<a href="/viewAll">View all Albums</a>
</body>
</html>